
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

body {
    background-color: #fad3d3;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 40px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 500;
    color: #bc6e7e;
    text-decoration: none;
}

    
nav ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #bc6e7e;
    font-size: 16px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
}

h1 {
    font-size: 42px;
    font-weight: normal;
    margin: 30px;
    
}

.description {
    max-width: 750px;
    margin: 60px;
    font-size: 24px;
    line-height: 1.5;
}

.quiz-button {
    background-color: #bc6e7e;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    list-style: none;
}

.quiz-button:hover {
    background-color: #a55c6c;
}