<h1>Scent Matcher</h1>
    <div class="description">
        <p>Fragrance should feel personal—because it is.</p>
        <p>Answer a few quick questions, and we'll curate a Discovery Kit with four scents just for you.</p>
</div>

<form action="/scent-matcher-login" method="get">
  <input type="hidden" name="page" value="5">
  <button class="quiz-button">Take Quiz</button>
</form>
