<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/catalog.css">
    <title><%- title %></title>
</head>
<body>
        <!-- Header -->
         <%- include('partials/header-login.ejs') %>
         
         <h1 class="main-title">All Perfumes</h1>
        <!-- Filter Section -->
        <div class="filter-section">
            <button class="filter-btn">Filter</button>
            <button class="order-btn">Order By</button>
        </div>
    
        <!-- Product Grid -->
        <div class="product-container">

            <script src="js/catalog.js"></script>

        </div>
    
        <!-- Footer -->
         <%- include('partials/footer.ejs') %>
        
</body>
</html>

