<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fragrance.css">
    <title><%- title %></title>
</head>
<body>
    <main>
        <%- include('partials/header-login.ejs') %>
        
        <h1>Our Fragrance Guide</h1>
        
        <!-- Fragrances Section -->
        <section class="fragrance-section">
            <script src="js/fragrance.js"></script>
        </section>
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>