
<div class="container">
        <h1>How Old Are You?</h1>
        <p class="subtitle">We know age is just a number, but it's part of the science</p>

        <div class="form-container">
            <div class="form-group">
                <label for="date">Enter Date</label>
                <hr>
                <div class="input-group">
                    <input type="text" id="date" placeholder="02/20/2024">
                    <div class="calendar-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                    </div>
                </div>
            </div>
            <button>Show your age</button>
        </div>

        <div class="gender-section">
            <div class="gender-text">
                <h2 class="gender-title">WHAT IS YOUR GENDER?</h2>
                <p class="gender-info">Fragrances can be categorised into masculine and feminine ones.</p>
                <p class="gender-info">Knowing your gender helps us offer a more accurate recommendation.</p>
            </div>
            <div class="gender-options">
                <button class="gender-button male">Male</button>
                <button class="gender-button female">Female</button>
                <button class="gender-button neutral">Netral</button>
            </div>
        </div>

        <form action="/scent-matcher" method="get">
            <input type="hidden" name="page" value="2" />
            <button>Next</button>
        </form>


       
    </div>