  <h2>Notes parfum yang kamu sukai</h2>

  <div class="container">
    <div class="note">Floral</div>
    <div class="note">Green</div>
    <div class="note">Spices</div>
    <div class="note">Skin/Musk</div>
    <div class="note">Aromatic</div>
    <div class="note">Watery</div>
    <div class="note">Gourmand</div>
    <div class="note">Woody / Moss</div>
    <div class="note">Fruity</div>
    <div class="note">Amber/Balsamic</div>
  </div>

  

  <form action="/scent-matcher" method="get" style="display: inline-block;">
        <input type="hidden" name="page" value="1" />
        <div class="buttons">
                <button>Back</button>
        </div>
    </form>

    <form action="/scent-matcher" method="get" style="display: inline-block;">
    <input type="hidden" name="page" value="3" />
     <div class="buttons">
          <button>Next</button>
      </div>
    </form>
