<footer>
    <div class="footer-left">
        <p>Copyright by - Kelompok 2</p>
        <ul>
            <li>Alfanah Muhson</li>
            <li>Syauqi Mubarak</li>
            <li>Winodya Zenitha</li>
            <li>Fadli Muzaki</li>
        </ul>
    </div>
    <div class="footer-right">
        <h3>Contact us</h3>
        <input type="email" placeholder="Enter your email">
    </div>
</footer>