<!-- Import Font Awesome CSS library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-Lx1J2vD94QbNMgHMFVqGRAYaIBy1MJ1/z8zAkKiFbTXW8+xFgtICkXTtmCBfpkBMXGT10XOD7c7Z4JQ8cLJ+LA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<header>
    <div class="logo"><%= logo %></div>
    <nav>
        <ul>
            <li><a href="/">Overview</a></li>
            <li><a href="/catalog">Catalogue</a></li>
            <li><a href="/scent-matcher">Scent Matcher</a></li>
            <li><a href="/fragrance">Fragrance</a></li>
            <i class="fa fa-user"></li>
        </ul>
    </nav>
</header>