
<header>
    <div class="logo"><%= logo %></div>
    <nav>
        <ul>
            <li><a href="/">Overview</a></li>
            <li><a href="/catalog">Catalogue</a></li>
            <li><a href="/scent-matcher">Scent Matcher</a></li>
            <li><a href="/fragrance">Fragrance</a></li>
            <i class="fa fa-user"></li>
        </ul>
    </nav>
</header>