<header>
    <div class="logo">Scentara</div>
    <div class="hamburger-menu" id="hamburgerMenu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <nav id="mainNav">
      <ul>
        <li><a href="/">Overview</a></li>
        <li><a href="/catalog">Catalogue</a></li>
        <li><a href="/scent-matcher">Scent Matcher</a></li>
        <li><a href="/fragrance">Fragrance</a></li>
      </ul>
    </nav>
  </header>
  <script src="js/index.js"></script>